@model P8Project.Models.Meetup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meetup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.meetup_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetup_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetup_access)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetup_access)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetup_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetup_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetup_note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetup_note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.game_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.game_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.game_genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.game_genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.zip_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.zip_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerLogin.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerLogin.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.meetup_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
