@model IEnumerable<P8Project.Models.PlayerProfile>

@{
    ViewBag.Title = "MatchArena";
}

<p>Here you can find other players to match with</p>
<hr />
<p>Roll the dice to get matched!</p>

@using (Html.BeginForm("FilterMatches", "MatchMaking", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @*<button name="Matching" type="submit" value="FilterMatches" class="btn btn-default">Match</button>*@
    <button id="MatchButton" type="submit" value="FilterMatches" class="btn btn-default"><img src="~/Pictures/dice.png" width="128" height="128"></button>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfileTitle.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.zip_code)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileTitle.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.zip_code)
            </td>
        </tr>
    }

</table>
