
@model P8Project.Models.PlayerProfile

@{
    ViewBag.Title = "Profile";
}

@Scripts.Render("~/Scripts/utilities.js")

<div class="profile-banner">
    <span>
        @Html.DisplayFor(m => m.first_name)
    </span>
    <span>
        @ViewData["ProfileTitle"]
    </span>
</div>
<div class="profile-card-container">
    <span> @ViewData["ProfileTitle"]</span>
    <span>@Html.DisplayFor(m => m.first_name)</span>
    <div class="profile-image"><img src="not_found.jpg" alt=" "></div>
    <p>Location: @ViewData["ProfileLocation"] </p>
    <p>
        Age: 
        <span id="age">
            @*@Html.DisplayFor(m => m.date_of_birth) currentItem.ScheduleStartDateTime.ToString("yyyy/MM/dd"))*@
        </span>
    </p>
</div>

<script type="text/javascript">
    document.getElementById('age').innerHTML = getAge()
</script>