
@model P8Project.Models.PlayerProfile

@{
    ViewBag.Title = "Profile";
}

@Scripts.Render("~/Scripts/utilities.js")

<div class="profile-banner">
    <span>
        @Html.DisplayFor(m => m.first_name)
    </span>
    <span>
        @ViewData["ProfileTitle"]
    </span>
</div>
<div class="profile-card-container">
    <span> @ViewData["ProfileTitle"]</span>
    <span>@Html.DisplayFor(m => m.first_name)</span>
    <div class="profile-image"><img src="https://d12swbtw719y4s.cloudfront.net/images/ldwIePQO/DpcLC6v8dV1gpQAF21wD/Skin.jpeg?w=620" alt=" "></div>
    <p>Location: @ViewData["ProfileLocation"] </p>
    <p>
        Date of birth:
        <span id="age">
            @Model.date_of_birth.Value.ToString("dd-MM-yyyy")
        </span>
    </p>
</div>

<script type="text/javascript">
    document.getElementById('age').innerHTML = getAge()
</script>