@model P8Project.Models.PlayerLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @* Some things shouuld be put in here from the controller, where we declare the action result *@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        //Div class should be changed
        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @* Local header *@
            <img src=~/Pictures/kitty.jpg alt="logo"
            @* Login *@
            <div class="email">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="email">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="password">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="password">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="login">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log på" class="btn btn-default" />
                </div>
            </div>
            <hr/>
        </div>
        @* About us *@
        <h1>Om os</h1>
            <p>Kort tekst om os.</p>
                <img src=~/Pictures/kitty.jpg alt="displayPicture">
        <hr/>
        @* Registration *@
        <h1>Opret en ny konto</h1>
        <p>Beskrivelse af oprettelse af konto.</p>
        <div class="validationMessage">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="firstName">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="firstName">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="lastName">

                
                    @*<asp:Label ID="lblfn" Text="Confirm Password"></asp:Label>
                </div>*@

                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="lastName">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="email">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="email">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                </div>
            </div>
            <div class="dateOfBirth">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="dateOfBirth">
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="gender">
                <input type="radio" name="gender" value="1" required> Male<br>
                <input type="radio" name="gender" value="2" required> Female<br>
            </div>
            <div class="password">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="password">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="confirmPassword">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="confirmPassword">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="createProfile">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Opret profil" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</body>
</html>
